
<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.to_a.each do |share| %>
      <tr>
        <td><%= share.place.name %></td>
        <td><%= share.place.latitude %></td>
        <td><%= share.place.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

